openapi: 3.0.1
info:
  title: Catalog Web App BFF
  description: BFF API for catalog (web) UI
  version: 2.0.3
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: http://localhost:8080
paths:
  /graphql:
    get:
      operationId: graphqlPlayground
      tags:
        - GraphQL
      summary: retrieve the GraphQL playground
      responses:
        '200':
          description: OK
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/acceptall'
    post:
      operationId: graphqlFetchData
      tags:
        - GraphQL
      summary: fetch deta from GraphQL server
      requestBody:
        description: data to retrieve from server
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/graphqlBody'
      responses:
        '200':
          description: graphqlFetchData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptall'
  /file:
    get:
      tags:
        - File APIs
      summary: Get stream file by path
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: object
                format: binary
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/res'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/res'
        '500':
          description: INTERNAL SERVER ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /zipshape:
    get:
      tags:
        - Shapefile ZIP API
      summary: >-
        Find all files with a specific name in a folder and return them in a zip
        file using a stream.
      parameters:
        - name: folder
          in: query
          required: true
          schema:
            type: string
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: object
                format: binary
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/res'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/res'
        '500':
          description: INTERNAL SERVER ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
components:
  schemas:
    acceptall:
      type: object
      additionalProperties: {}
    graphqlBody:
      type: object
      properties:
        operationName:
          type: string
        variables:
          type: object
        query:
          type: string
    res:
      type: object
      properties:
        data:
          oneOf:
            - type: object
            - type: string
    error:
      type: object
      properties:
        error:
          type: string
