openapi: 3.0.1
info:
  title: Catalog Web App BFF
  description: BFF API for catalog (web) UI
  version: 2.1.3
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
paths:
  /graphql:
    get:
      operationId: graphqlPlayground
      tags:
        - GraphQL
      summary: retrieve the GraphQL playground
      responses:
        '200':
          description: OK
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/acceptall'
    post:
      operationId: graphqlFetchData
      tags:
        - GraphQL
      summary: fetch data from GraphQL server
      requestBody:
        description: data to retrieve from server
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/graphqlBody'
      responses:
        '200':
          description: graphqlFetchData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptall'
  /api/file:
    get:
      operationId: getFileByPath
      tags:
        - api
      summary: get file by path
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/res'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/res'
        '500':
          description: INTERNAL SERVER ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/zipshape:
    get:
      operationId: getShapeFilesAsZip
      tags:
        - api
      summary: get all files of a specific shape file and return them in a zip
      parameters:
        - name: folder
          in: query
          required: true
          schema:
            type: string
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/res'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/res'
        '500':
          description: INTERNAL SERVER ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /callback/task:
    post:
      operationId: taskUpdateCallback
      tags:
        - callback
      summary: publish task update notification to app
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskNotification'
      responses:
        '200':
          description: Status received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  schemas:
    acceptall:
      type: object
      additionalProperties: {}
    graphqlBody:
      type: object
      properties:
        operationName:
          type: string
        variables:
          type: object
        query:
          type: string
    res:
      type: object
      properties:
        data:
          oneOf:
            - type: object
            - type: string
    error:
      type: object
      properties:
        error:
          type: string
    TaskNotification:
      type: object
      required:
        - jobId
      properties:
        jobId:
          type: string
          description: Job identifier
        taskId:
          type: string
        jobType:
          type: string
        taskType:
          type: string
        productId:
          type: string
        productType:
          type: string
        version:
          type: string
        status:
          type: string
          default: Pending
        progress:
          type: number
          format: int32
          minimum: 0
          maximum: 100
        message:
          type: string
        error:
          type: string
        params:
          type: object
